<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/script :: common_header(~{::title},~{::link})">
    <title>发布</title>
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/typo.css}" rel="stylesheet">
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/primjs/css/prism.css}" rel="stylesheet">
    <link th:href="@{/lib/tocbot/tocbot.css}" rel="stylesheet">
</head>
</head>
<body>
<!--导航-->
<div th:replace="/common/script :: nav('1')"></div>
<!--内容部分呢-->
<div id="waypoint" class="ki-padded-tb-large ki-container-small animated fadeIn">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list mini">
                <div class="item">
                    <img th:src="@{${blog.customer.avatarUrl}}" alt=""
                         class="ui avatar image">
                    <div class="content">
                        <a href="#" class="header" th:text="${blog.customer.nickname}">kibugs</a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.publishTime,'yyyy-MM-dd')}"> </span>
                </div>
                <div class="item">
                    <i class="eye icon"></i><span th:text="${blog.views}"></span>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <img th：src="@{${blog.customer.avatarUrl}}" alt="" class="ui rounded fluid image">
        </div>
        <div class="ui attached segment">
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.category.name}">原创</div>
            </div>
            <h2 class="ui center aligned header" th:text="${blog.title}">文章名称</h2>
            <div id="content" class="typo typo-selection ki-padded-tb-large ki-padded-lr-response js-toc-content">
                <div id="wrapper" class="typo typo-selection" th:utext="${blog.content}">

                </div>
            </div>



            <!--标签-->
            <div class="ki-padded-lr-response">
                <div class="ui basic label teal left pointing">方法轮</div>
            </div>
            <!--打赏-->
            <div class="ui center aligned basic segment">
                <button id="payBtn" class="ui orange basic circular button">赞赏</button>
            </div>
            <div class="ui flowing popup transition hidden ki-pay-area">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <div class="image">
                            <img src="./static/images/WechatIMG.jpeg" alt="微信" class="ui rounded bordered image"
                                 style="width: 120px">
                            <div>微信</div>
                        </div>
                        <div class="image">
                            <img src="./static/images/WechatIMG.jpeg" alt="支付宝" class="ui rounded bordered image "
                                 style="width: 120px">
                            <div>支付宝</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui attached positive message">
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li class="">作者：xxx</li>
                        <li class="">发布时间：xxx</li>
                        <li class="">发布时间：xxx</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img src="./static/images/WechatIMG.jpeg" alt="" class="ui rounded right floated bordered image"
                         style="width: 110px">
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment" id="comment-container">
            <div class="ui teal segment">
                <div class="ui comments">
                    <h3 class="ui dividing header">流言区</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://picsum.photos/seed/picsum/100/100">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://picsum.photos/seed/picsum/100/100">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://picsum.photos/seed/picsum/100/100">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://picsum.photos/seed/picsum/100/100">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论信息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field ki-mobile-wide ki-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" placeholder="姓名" name="nickname">
                            </div>
                        </div>
                        <div class="field ki-mobile-wide ki-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" placeholder="邮箱" name="email">
                            </div>
                        </div>
                        <div class="field ki-mobile-wide ki-margin-bottom-small">
                            <button class="ui teal button ki-mobile-wide"><i class="edit icon"></i> 发布评论</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--目录部分-->
<div id="toolbar" class="ki-right-bottom ki-fixed ki-padded" style="display: none">
    <div class="ui vertical icon buttons">
        <button class="ui teal button" type="button" id="ki-content">目录</button>
        <a href="#comment-container" class="ui teal button">留言</a>
        <button class="ui icon button" id="weixinID" type="button"><i class="weixin icon"></i></button>
        <div id="topTo" class="ui button"><i class="chevron up icon"></i></div>
    </div>
</div>
<div class="ui flowing popup transition hidden ki-content" style="width: 450px !important;">
    <ol class="ui orange basic js-toc"></ol>
</div>
<div class="ui weixin-img flowing popup transition hidden" id="qrcode" style="width: 130px !important;">
    <!--    <img src="./static/images/WechatIMG.jpeg" alt="" class="ui rounded image" style="width: 100px;">-->
</div>


<!--低部内容-->
<footer th:replace="/common/script :: footer"></footer>
<!--js导入-->
<script th:replace="/common/script :: common_script"></script>

<script th:src="@{https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js}"></script>
<script th:src="@{//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js}"></script>
<script th:src="@{/lib/primjs/js/prism.js}"></script>
<script th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script th:src="@{/lib/qrcode/qrcode.min.js}"></script>
<script th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<script>
    $("#payBtn").popup({
        popup: $(".ki-pay-area"),
        on: 'click',
        position: "bottom center"
    });
    $("#ki-content").popup({
        popup: $(".ki-content"),
        on: 'click',
        position: "left center"
    });
    $("#weixinID").popup({
        popup: $(".weixin-img"),
        position: "left center"
    });
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "http://jindo.dev.naver.com/collie",
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    /*https://github.com/flesler/jquery.scrollTo*/
    $("#topTo").click(function () {
        $(window).scrollTo(0, 1000)
    });

    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction == 'up') {
                $("#toolbar").hide(300)
            } else {
                $("#toolbar").show(300)
            }
        }
    })
</script>
</body>
</html>