<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>archives</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
</head>
<link href="./static/css/index.css" rel="stylesheet">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment ki-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">kibugs</h2>
            <a href="index.html" class="item ki-mobile-hide"><i class="home mini icon"></i>首页</a>
            <a href="category/index.html" class="item ki-mobile-hide"><i class="idea mini icon"></i>分类</a>
            <a href="tag/index.html" class="item ki-mobile-hide"><i class="tags mini icon"></i>标签</a>
            <a href="archives.html" class="item ki-mobile-hide"><i class="clone mini icon"></i>归档</a>
            <a href="aboutme.html" class="item ki-mobile-hide"><i class="info mini icon"></i>关于我</a>
            <div class="right menu">
                <div class="item ki-mobile-hide">
                    <div class="ui transparent inverted icon input">
                        <i class="search link icon"></i>
                        <input type="text" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="ui black icon button ki-sidebar-position ki-mobile-show">
        <i class="icon sidebar"></i>
    </a>
</nav>
<!--内容部分呢-->
<div class="ki-padded-tb-large ki-container-small">
    <div class="ui container ki-shadow-small">
        <div class="ui top attached segment ">
            <div class="ui middle aligned two column stackable grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共<h2 class="ui orange header ki-text-block ki-text-thin"> 214 </h2> 篇博客
                </div>
            </div>
        </div>
    </div>
    <h2 class="ui center aligned header">2019</h2>
    <div class="ui fluid vertical menu ">
        <a href="#" class="item" target="_blank">
                <span><i class="mini teal circle icon"></i>关于xxx 的更新
                    <div class="ui teal basic left pointing label ki-padded-mini">9月3日</div>
                </span>
            <div class="ui orange basic left pointing label ki-padded-mini">原创</div>
        </a>
        <a href="#" class="item" target="_blank">
                <span><i class="mini teal circle icon"></i>关于xxx 的更新
                    <div class="ui teal basic left pointing label ki-padded-mini">9月3日</div>
                </span>
            <div class="ui orange basic left pointing label ki-padded-mini">原创</div>
        </a>
        <a href="#" class="item" target="_blank">
                <span><i class="mini teal circle icon"></i>关于xxx 的更新
                    <div class="ui teal basic left pointing label ki-padded-mini">9月3日</div>
                </span>
            <div class="ui orange basic left pointing label ki-padded-mini">原创</div>
        </a>
        <a href="#" class="item" target="_blank">
                <span><i class="mini teal circle icon"></i>关于xxx 的更新
                    <div class="ui teal basic left pointing label ki-padded-mini">9月3日</div>
                </span>
            <div class="ui orange basic left pointing label ki-padded-mini">原创</div>
        </a>
    </div>
    <h2 class="ui center aligned header">2019</h2>
    <div class="ui fluid vertical menu ">
        <a href="#" class="item" target="_blank">
                <span><i class="mini teal circle icon"></i>关于xxx 的更新
                    <div class="ui teal basic left pointing label ki-padded-mini">9月3日</div>
                </span>
            <div class="ui orange basic left pointing label ki-padded-mini">原创</div>
        </a>
    </div>
    <h2 class="ui center aligned header">2019</h2>
    <div class="ui fluid vertical menu ">
        <a href="#" class="item" target="_blank">
                <span><i class="mini teal circle icon"></i>关于xxx 的更新
                    <div class="ui teal basic left pointing label ki-padded-mini">9月3日</div>
                </span>
            <div class="ui orange basic left pointing label ki-padded-mini">原创</div>
        </a>
    </div>
    <h2 class="ui center aligned header">2019</h2>
    <div class="ui fluid vertical menu ">
        <a href="#" class="item" target="_blank">
                <span><i class="mini teal circle icon"></i>关于xxx 的更新
                    <div class="ui teal basic left pointing label ki-padded-mini">9月3日</div>
                </span>
            <div class="ui orange basic left pointing label ki-padded-mini">原创</div>
        </a>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>


<footer class="ui inverted segment vertical ki-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="./static/images/WechatIMG.jpeg" class="ui rounded image" style="width: 110px;height: 110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">博客介绍</h4>
                <div class="ui inverted link list">
                    <a href="" class="item ki-text-thin ki-text-spaced ki-opacity-mini">用户故事</a>
                    <a href="" class="item ki-text-thin ki-text-spaced ki-opacity-mini">用户故事</a>
                    <a href="" class="item ki-text-thin ki-text-spaced ki-opacity-mini">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="" class="item item ki-text-thin ki-text-spaced ki-opacity-mini">xingfeichen@163.com</a>
                    <a href="" class="item item ki-text-thin ki-text-spaced ki-opacity-mini">qq:1151590116</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">介绍</h4>
                <p class="ki-text-thin ki-text-spaced ki-opacity-mini">
                    对方很快就啊还记得反馈黑无法能看见部对方很快就啊对方很快就啊还记得反馈黑无法能看见部分进口好看的少女风快还记得反馈黑无法能看见部分进口好看的少女风快分进口好看的少女风快</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="ki-text-thin ki-text-spaced ki-opacity-tiny">© 2019 kibugs.com 版权所有 ICP证：浙B2-20191021</p>
    </div>
</footer>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $("#payBtn").popup({
        popup: $(".ki-pay-area"),
        on: 'click',
        position: "bottom center"
    });
</script>
</body>
</html>